@model Kingflix.Domain.DomainModel.KingCoin

@{
    ViewBag.Title = "Thông tin hỗ trợ";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm("CreateKingCoin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.UserId)
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <h4 class="card-title mt-2 float-left">Nạp tiền vào tài khoản của bạn</h4>
                    </div>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD: 100000" } })
                        <div class="mt-2">
                            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("PaymentId", null, htmlAttributes: new { @class = "form-control select2-hidden-search" })
                        <div class="mt-2">
                            @Html.ValidationMessageFor(model => model.PaymentId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="paymentDetails">

                    </div>
                    <div class="my-5 text-center">
                        <p class="m-0">Upload biên lai hoặc hình chụp thanh toán để quá trình duyệt nhanh hơn nhé</p>
                        <p class="text-dark" id="uploadText">Bạn hãy gửi hình biên lại hoặc chụp màn hình để giao dịch nhanh chóng được toàn tất nhanh hơn nhé!</p>
                        <input type="file" name="Image" id="Image" class="upload-show m-0">
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Xác nhận và gửi" class="btn btn-gradient-success btn-rounded" />
                    </div> 
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            LoadPaymentDetail();
        })
        $("#PaymentId").change(function () {
            LoadPaymentDetail();
        })
        function LoadPaymentDetail() {
            var id = $("#PaymentId").val();
            $.ajax({
                method: "POST",
                url: "@Url.Action("GetPaymentDetails","Manage")",
                data: {
                    id: id
                },
                success: function (data) {
                    $("#paymentDetails").html(data);
                },
                error: function (data) {
                    toastr.error("Tải thông tin thanh toán thất bại! Vui lòng tải lại trang hoặc chọn lại phương thức thanh toán");
                }
            })
        }
    </script>
}
