@model IEnumerable<Kingflix.Domain.DomainModel.Profile>

@if (ViewBag.Type == "NETFLIX")
{
    <h4 class="text-primary">NETFLIX</h4>
}
else
{
    <h4 class="text-success">SPOTIFY</h4>
}
@if (Model.Count() != 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="service-card shadow text-white font-weight-bold">
                    <div class="row">
                        <div class="col-md-4 col-5">
                            Tài khoản
                        </div>
                        <div class="col-md-8 col-7">
                            @item.ProductId
                        </div>
                    </div>
                    <hr class="my-2" />
                    <div class="row">
                        <div class="col-md-4 col-5">
                            Profile
                        </div>
                        <div class="col-md-8 col-7">
                            @item.Name
                        </div>
                    </div>
                    <hr class="my-2" />
                    <div class="row">
                        <div class="col-md-4 col-5">
                            Ngày bắt đầu
                        </div>
                        <div class="col-md-8 col-7">
                            @item.DateStart.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                    <hr class="my-2" />
                    <div class="row">
                        <div class="col-md-4 col-5">
                            Ngày hết hạn
                        </div>
                        <div class="col-md-8 col-7">
                            @if ((item.DateEnd.Date - DateTime.Today).Days < 0)
                            {
                                @item.DateEnd.ToString("dd/MM/yyyy") <span class="text-primary font-weight-bold ml-1">(hết hạn @((DateTime.Today - item.DateEnd.Date).Days) ngày)</span>
                            }
                            else
                            {
                                @item.DateEnd.ToString("dd/MM/yyyy") <span class="text-warning font-weight-bold ml-1">(còn @((item.DateEnd - DateTime.Now).Days) ngày)</span>
                            }
                        </div>
                    </div>
                    <hr class="my-2" />
                    <div class="row">
                        <div class="col-md-4 col-5">
                            Tình trạng
                        </div>
                        <div class="col-md-8 col-7">
                            @if (item.DateEnd.Date < DateTime.Today)
                            {
                                <p class="badge badge-danger m-0">Hết hạn</p>
                            }
                            else
                            {
                                <p class="badge badge-success m-0">Đang hoạt động</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Chưa có tài khoản hoạt động</p>
}