@using Kingflix.Domain.Enumerables
@model Kingflix.Domain.DomainModel.Order

@{
    ViewBag.Title = "Thông tin đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string base64 = "", imgSrc = "";
    if (Model.Payments.Logo != null)
    {
        base64 = Convert.ToBase64String(Model.Payments.Logo);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}
<div class="bg-light" style="min-height: 75vh">
    <div class="container mb-4">
        <div class="top-checkout row">
            <div class="top-checkout-list col-md-4 col-12">
                <p><i class="number">1</i>Giỏ hàng của bạn</p>
            </div>
            <div class="top-checkout-list col-md-4 d-none d-md-inline">
                <p><i class="number">2</i>Thông tin &amp; Thanh toán</p>
            </div>
            <div class="top-checkout-list col-md-4 d-none d-md-inline active">
                <p id="nk-hoan-tat-don-hang"><i class="number">3</i>Hoàn tất đơn hàng</p>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="card card-shadow mb-4">
                    <div class="card-body">
                        <h4 class="mb-4">Thông tin đơn hàng <span id="OrderId" class="font-weight-bold small mr-3 text-primary" style="font-size:1rem;">#@Model.OrderId</span></h4>
                        <p class="m-0">
                            Trạng thái:
                            @switch (Model.Status)
                            {
                                case OrderStatus.WaitingForPay:
                                    {
                                        <span class="badge badge-danger">@OrderStatus.WaitingForPay.GetEnumDisplayName()</span>
                                        break;
                                    }
                                case OrderStatus.Paid:
                                    {
                                        <span class="badge badge-warning">@OrderStatus.Paid.GetEnumDisplayName()</span>
                                        break;
                                    }
                                case OrderStatus.Done:
                                    {
                                        <span class="badge badge-success">@OrderStatus.Done.GetEnumDisplayName()</span>
                                        break;
                                    }
                                case OrderStatus.Cancelled:
                                    {
                                        <span class="badge badge-dark">@OrderStatus.Cancelled.GetEnumDisplayName()</span>
                                        break;
                                    }
                                default:
                                    {
                                        break;
                                    }
                            }
                        </p>
                        <hr />
                        <table class="table table-hover"
                                data-toggle="table"
                                data-sort-name="name"
                                data-sort-order="desc"
                                data-pagination="true"
                                data-page-size="10">
                            <thead class="">
                                <tr>
                                    <th class="text-left font-weight-bold" data-sortable="true"> Pic </th>
                                    <th class="text-center font-weight-bold" data-sortable="true"> Gói đăng ký </th>
                                    <th class="text-center font-weight-bold" data-sortable="true"> Bảo hành </th>
                                    <th class="text-center font-weight-bold" data-sortable="true"> Số lượng </th>
                                    <th class="text-center font-weight-bold" data-sortable="true"> Tài khoản </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td class="text-success">
                                            @if (string.IsNullOrEmpty(item.ImageId))
                                            {
                                                <img class="img-fluid image rounded" src="~/Content/image/No_Picture.jpg">
                                            }
                                            else
                                            {
                                                <img class="img-fluid image rounded" src="~/Content/Upload/Images/@item.ImageId">
                                            }
                                        </td>
                                        <td class="text-center">
                                            @item.CategoryName (@item.Month tháng)
                                        </td>
                                        <td>
                                            @(item.IsGuarantee?"Có":"Không")
                                        </td>
                                        <td class="text-center">
                                            @item.Count
                                        </td>
                                        <td class="text-center">
                                            <p class="small m-0">@(item.IsKingflixAccount?"Kingflix Cấp":"Tài khoản của bạn")</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-shadow mb-4">
                    <div class="card-body">
                        <h4 class="mb-4">Thông tin thanh toán</h4>
                        @if (Model.Payments.Logo != null)
                        {
                            <div class="text-center">
                                <img width="80" src="@imgSrc" />
                            </div>
                        }
                        <hr />
                        <p>
                            Hình thức thanh toán: <strong id="Name">@Model.Payments.Name</strong>
                        </p>
                        <p>
                            Số tài khoản: <strong id="AccountNumber">@Model.Payments.AccountNumber</strong>
                            <i class="mdi mdi-file-multiple clipboard ml-2 text-success d-inline-block" style="right: 0" data-clipboard-target="#AccountNumber" data-toggle="tooltip" data-title="Sao chép"></i>
                        </p>
                        <p>
                            Nội dung chuyển khoản: <strong id="Content">THANH TOAN @Model.OrderId</strong>
                            <i class="mdi mdi-file-multiple clipboard ml-2 text-success d-inline-block" style="right: 0" data-clipboard-target="#Content" data-toggle="tooltip" data-title="Sao chép"></i>
                        </p>
                        <p>
                            Chủ tài khoản: <strong id="AccountName">@Model.Payments.AccountName</strong>
                            <i class="mdi mdi-file-multiple clipboard ml-2 text-success d-inline-block" style="right: 0" data-clipboard-target="#AccountName" data-toggle="tooltip" data-title="Sao chép"></i>
                        </p>
                        @if (Model.Payments.Type == PaymentType.EWallet)
                        {
                            <div class="text-center">
                                <img src="~/Content/Upload/Images/@Model.Payments.ImageId" width="400" />
                            </div> 
                        }
                        else
                        {
                            <p>
                                Chi nhánh: <strong id="AccountAddress">@Model.Payments.AccountAddress</strong>
                                <i class="mdi mdi-file-multiple clipboard ml-2 text-success d-inline-block" style="right: 0" data-clipboard-target="#AccountAddress" data-toggle="tooltip" data-title="Sao chép"></i>
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card card-shadow mb-4">
                    <div class="card-body box-payment" id="cartTotal">
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td class="pb-3" style="text-align:left;font-size: 20px;font-weight: 500;" colspan="2">Tóm tắt đơn hàng</td>
                                </tr>
                                <tr>
                                    <td class="py-1" width="50%">Tạm tính (Chưa VAT):</td>
                                    <td id="totalListedPrice" class="py-1 text-right" width="50%">@string.Format("{0:C0}", Model.Price)</td>
                                </tr>
                                <tr>
                                    <td class="py-1" width="50%">Phương thức thanh toán:</td>
                                    <td id="totalListedPrice" class="py-1 text-right" width="50%">
                                        <span id="PaymentMethod">@Model.Payments.Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">Giảm giá:</td>
                                    <td class="py-1 text-right" id="cartDiscount">0 ₫</td>
                                </tr>
                                <tr style="border-top:solid 1px #e7e7e7; line-height: 45px;">
                                    <td>Thành tiền:</td>
                                    <td style="font-size:20px; color:#e82429;font-weight:bold" id="preTotalPrice" class=" text-right">
                                        @string.Format("{0:C0}", Model.Price)
                                    </td>
                                </tr>
                                <tr class="chonhinhthuc">
                                    <td colspan="2" style="text-align:right">(Đã bao gồm VAT)</td>
                                </tr>

                                <tr class="shonhinhthuc" style="border-bottom:none; display: none;">
                                    <td></td>
                                    <td>(Đã bao gồm VAT)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-shadow">
                    <div class="card-body">
                        <h6 class="mb-4">Cập nhật bằng chứng thanh toán</h6>
                        <hr />
                        <div class="text-center">
                            @if (Model.Status == OrderStatus.WaitingForPay && Model.ApiOrderId != null)
                            {

                                if (Model.File == null)
                                {
                                    using (Html.BeginForm("UploadImageOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.OrderId)
                                        <div class="text-center">
                                            <label for="PaymentImage" class="btn btn-success btn-sm">Chọn hình</label>
                                            <input type="file" id="PaymentImage" name="PaymentImage" class="payment-accept-image" hidden="" accept="image/*">
                                            <div class="preview-image">
                                                <img id="previewImage" class="" src="/Content/image/No_Picture.jpg" alt="your image" style="width: 100%">
                                            </div>
                                            <button class="btn btn-primary btn-sm px-4 payment-other mt-3" type="submit">XÁC NHẬN ĐÃ THANH TOÁN</button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    var base64s = Convert.ToBase64String(Model.File);
                                    var imgSrcs = String.Format("data:image/gif;base64,{0}", base64s);
                                    <img id="previewImage" class="" src="@imgSrcs" alt="your image" style="width: 100%">

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="card card-shadow">
                    <div class="card-body">
                        <h6 class="mb-4">Hướng dẫn</h6>
                        <hr />
                        @Html.Raw(Model.Payments.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewAvatar').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".payment-accept-image").change(function () {
                var elm = $(this);
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        elm.parent().children(".preview-image").first().children('img').attr("src", e.target.result)
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
    </script>
} 