@using Kingflix.Domain.Enumerables
@model Kingflix.Domain.DomainModel.Order
<html>
<head>
    <style>
        @@media screen and (max-width: 768px) {
            #body {
                width: 100%;
            }
            .display {
                display: block;
            }
            .flex-mid {
                width: 100%;
            }
        }
        @@media screen and (min-width: 768px) {
            #body {
                width: 80%;
            }
            .display {
                display: flex;
            }
            .flex-mid {
                width: 50%;
            }
        }
    </style>
</head>
<body>
    <div style="width: 100%; background: #f8f8f8; padding: 15px 0; font-size: 16px;">
        <div id="body" style="margin: 0 auto; background: #ffffff;">
            <div class="logo-image" style="border-bottom: 1px solid #e6e6e6; text-align: center;">
                <img src="https://homesheel.com.vn/wp-content/uploads/2019/09/Homesheel-Logo_min2.png" height="60" />
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p style="font-weight: bold;">Xin chào @Model.UserInformation.FullName</p>
                    <p>
                        Cảm ơn bạn đã quan tâm đến sản phẩm của Kingflix.vn. Đơn hàng của bạn đã được xác nhận và đang được xử lý. Để có thể xem chi tiết đơn hàng của mình, bạn có thể
                        <a href="@Url.Action("PaymentInformation","Order", new { orderId = Model.OrderId })" style="font-weight: 500; color:#e50914">Nhấn vào đây</a>
                    </p>
                </div>
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p style="font-weight: bold; color: #ed343d; margin-bottom: 0">THÔNG TIN ĐƠN HÀNG</p>
                    <div style="padding: 10px 20px; font-size: 14px;">
                        <p style="margin: 0">Thông tin thanh toán</p>
                        <div class="display">
                            <div class="flex-mid">
                                <p style="margin: 0"><strong>Mã đơn hàng</strong>: @Model.OrderId</p>
                                <p style="margin: 0"><strong>Khách hàng</strong>: @Model.UserInformation.FullName</p>
                                <p style="margin: 0"><strong>Email</strong>: @Model.UserInformation.Email</p>
                                <p style="margin: 0"><strong>Số điện thoại</strong>: @Model.UserInformation.PhoneNumber</p>
                            </div>
                            <div  class="flex-mid">
                                @if (Model.Status == OrderStatus.Pending)
                                {
                                    <p style="margin: 0"><strong>Tình trạng</strong>: Đang xử lý</p>
                                }
                                else if (Model.Status == OrderStatus.Done)
                                {
                                    <p style="margin: 0"><strong>Tình trạng</strong>: Hoàn tất</p>
                                }
                                else
                                {
                                    <p style="margin: 0"><strong>Tình trạng</strong>: Đã hủy</p>
                                }
                                <p style="margin: 0"><strong>Thời gian đặt hàng</strong>: @Model.DateCreated.ToString("HH:mm:ss dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p>Nếu gặp bất kỳ thắc mắc nào, vui lòng phản hồi lại Email cho chúng tôi để được xử lý!</p>
                    <p style="margin: 0;">Trân trọng,</p>
                    <p style="margin: 0;">KingFlix</p>
                </div>
            </div>
            <div style="border-bottom: 2px solid #e6e6e6; background:#eee; font-size: 12px;">
                <div style="padding: 30px 35px;">
                    <p style="margin: 0;">KingFlix</p>
                    <p style="margin: 0;">Website: <a href="https://kingflix.vn/">https://kingflix.vn</a></p>
                    <p style="margin: 0;">Fanpage <a href="#">https://facebook.com/kingflix.vn</a></p>
                    <p style="margin: 0;">Hotline <a href="tel:0344656565">0344656565</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>