@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/image/favicon.png" />
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="Kingflix - Tài khoản bản quyền">
    <meta property="og:description" content="Shop tài khoản bản quyền lớn và uy tín nhất Việt Nam. Bán tài khoản netflix, spotify, youtube, ... bản quyền giá rẻ, uy tín, nhanh chóng. Steam wallet, Steam code, CD Key Steam, CSGO , tài khoản bản quyền giá rẻ">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://divineshop.vn/">
    <meta name="description" content="Shop tài khoản bản quyền lớn và uy tín nhất Việt Nam. Bán tài khoản netflix, spotify, youtube, ... bản quyền giá rẻ, uy tín, nhanh chóng. Steam wallet, Steam code, CD Key Steam, CSGO , tài khoản bản quyền giá rẻ">
    <meta name="keywords" content="kingflix, kingflix.vn, kingflix giá rẻ, tài khoản netflix giá rẻ, netflix, tài khoản spotify, mua game bản quyền, mua tài khoản netflix giá rẻ">
    @Styles.Render("~/Content/template-css")
    @Styles.Render("~/Content/style-css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("heads", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177844864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-177844864-1');
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f57b662f0e7167d000e8483/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
    @RenderBody()

    <div class="review container py-4">
        <div class="title mb-4">
            <h2>Đánh giá - Bình luận</h2>
        </div>
        @Html.Action("ReviewInformation", "Review")
        
        <div class="border-top border-bottom shadow p-3 mb-3" id="reviewBlock" style="display: none;">
            <div class="review-block">
                @if (User.Identity.IsAuthenticated)
                {
                    using (Ajax.BeginForm("SendReview", "Review", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnBegin = "loadSpinner",
                        OnSuccess = "sendReviewSuccess",
                        OnComplete = "exitSpinner"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <input name="starCount" type="hidden" id="starCount" value="5" />
                        <div class="text-center">
                            <p class="mt-3 mb-0">Chọn số sao</p>
                            <div class="rating mx-auto" data-rate-value=5 style="font-size: 3rem; color: orange"></div>
                        </div>

                        <textarea id="contentReview" name="contentReview" class="form-control" rows="6" placeholder="Nhập đánh giá của bạn tại đây" style="height: 100px" required></textarea>
                        <div class="text-right mb-3">
                            <button class="btn btn-secondary mt-3 btn-rounded btn-sm px-4 hide-review-block" type="button">Ẩn</button>
                            <button class="btn btn-success mt-3 btn-rounded btn-sm px-4" id="sendFeedback" type="submit">Gửi</button>
                        </div>
                    }
                }
            </div>
        </div>
        @Html.Action("LoadReviewComment", "Review")
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-content">
                            <div>
                                <h6 class="text-white">Về Kingflix</h6>
                            </div>
                            <div class="policy">
                                <a href="https://help.kingflix.vn/gioi-thieu/gioi-thieu-ve-kingflix" class="footer-link">Giới thiệu về Kingflix</a>
                                <a href="https://help.kingflix.vn/gioi-thieu/tai-khoan-netflix-la-gi" class="footer-link">Tài khoản Netflix là gì?</a>
                                <a href="https://help.kingflix.vn/dieu-khoan-dich-vu" class="footer-link">Điều khoản dịch vụ</a>
                                <a href="https://help.kingflix.vn/chinh-sach-bao-mat" class="footer-link">Chính sách bảo mật</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h6 class="text-white">Hỗ trợ khách hàng</h6>
                        </div>
                        <div class="footer-content">
                            <div class="policy">
                                <a href="https://help.kingflix.vn/bao-hanh/lien-he-ho-tro" class="footer-link">Bạn có câu hỏi? Liên hệ với chúng tôi</a>
                                <a href="https://help.kingflix.vn/cac-cau-hoi-thuong-gap" class="footer-link">Các câu hỏi thường gặp</a>
                                <a href="https://help.kingflix.vn/" class="footer-link">Trung tâm trợ giúp</a>
                                <a href="https://help.kingflix.vn/huong-dan-mua-hang" class="footer-link">Hướng dẫn đặt hàng</a>
                                <a href="https://help.kingflix.vn/bao-hanh/thong-tin-bao-hanh" class="footer-link">Chế độ bảo hành</a>
                                <a href="mailto:hotro@kingflix.vn" class="footer-link">Hỗ trợ khách hàng: hotro@kingflix.vn</a>
                                <a href="mailto:security@kingflix.vn" class="footer-link">Báo lỗi bảo mật: security@kingflix.vn</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h6 class="text-white">Kết nối với chúng tôi</h6>
                        </div>
                        <div class="footer-content">
                            <div class="policy">
                                @Html.Action("GetFooterSocial", "Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Html.Partial("ModalTemplate/_ModalImagePartial")

    <div id="spinnerLoading" class="spinner-loading" style="display: none;">
        <img src="~/Content/image/logo.png" style="opacity: .15" />
        <img src="~/Content/image/loading.svg" alt="Loading..." />
    </div>

    @Scripts.Render("~/bundles/template-js")
    @Scripts.Render("~/bundles/home-js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        NProgress.start();
        var interval = setInterval(function () { NProgress.inc(); }, 1000);

        // Trigger finish when page fully loaded
        $(window).on("load", function () {
            clearInterval(interval);
            NProgress.done();
        });
        jQuery(window).on("unload", function () {
            NProgress.start();
        });
        var options = {
            max_value: 5,
            step_size: 1,
            initial_value: 4,
            selected_symbol_type: 'utf8_star',
            cursor: 'pointer',
            readonly: false,
            change_once: false,
        };

        $(".rating").rate(options);
        $(".rating").on("change", function (ev, data) {
            $("#starCount").val(data.to);
        });

        $(document).on("click", ".show-review-block", function () {
            $("#reviewBlock").show();
        })
        $(document).on("click", ".hide-review-block", function () {
            $("#reviewBlock").hide();
        })
        $(document).on("click", ".login-review-block", function () {
            window.location.href = "@Url.Action("Login","Account")" + "?returnUrl=" + $(location).attr("href") +"&IsRedirect=True";
        })
        function sendReviewSuccess(data) {
            if (data.status == "success") {
                toastr.success(data.message)
            }
            else {
                toastr.error(data.message)
            }
        }
        $(document).on("click", ".reyly-for", function () {
            var id = $(this).data("id");
            $("#replyFor_" + id).show();
        })
        $(document).on("click", ".reply-submit", function () {
            var id = $(this).data("id");
            loadSpinner();
            $.ajax({
                method: "POST",
                url: "@Url.Action("SendReview","Review")",
                data: {
                    replyFor: id,
                    contentReview: $("#replyForContent_"+id).val()
                },
                success: function (data) {
                    if (data.status == "success") {
                        toastr.success(data.message)
                    }
                    else {
                        toastr.error(data.message)
                    }
                },
                error: function () {
                    toastr.error("Có lỗi khi gửi dữ liệu. Vui lòng thử lại")
                },
                complete: function () {
                    exitSpinner()
                }
            })
        })
        $(document).on("click", ".huu-ich", function () {
            var elm = $(this);
            loadSpinner();
            $.ajax({
                method: "POST",
                url: "@Url.Action("LikeReview","Review")",
                data: {
                    id: elm.data("id"),
                },
                success: function (data) {
                    if (data.status == "success") {
                        toastr.success(data.message);
                        elm.html("Hữu ích (" + data.likecount +")")
                    }
                    else {
                        toastr.error(data.message)
                    }
                },
                error: function () {
                    toastr.error("Có lỗi khi gửi dữ liệu. Vui lòng thử lại")
                },
                complete: function () {
                    exitSpinner()
                }
            })
        })

        //PageList for ReviewTab
        
        var $el = $(".review-items");
        var pageSize = 5;

        $el.slice(0, pageSize).show();
        $el.slice(pageSize, $el.length).hide();

        function addSlice(num) {
            return num + pageSize;
        }

        function subtractSlice(num) {
            return num - pageSize;
        }

        var slice = [0, pageSize];

        $('.next').click(function () {
            if (slice[1] < $el.length) {
                slice = slice.map(addSlice);
            }
            showSlice(slice);
        });

        $('.prev').click(function () {
            if (slice[0] > 0) {
                slice = slice.map(subtractSlice);
            }
            showSlice(slice);
        });

        function showSlice(slice) {
            $el.css('display', 'none');
            $el.slice(slice[0], slice[1]).css('display', 'block');
        }
    </script>
</body>
</html>
