@model Kingflix.Website.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}

<section class="section-home pt-0" style="background: url('../Content/image/bg-main.jpg'); height: 100vh;">
    <div class="position-absolute w-100">
        <nav class="navbar bg-transparent px-5 py-3">
            <a class="brand-logo" href="~/"><img src="~/Content/image/logo.png" alt="logo" height="80" /></a>
        </nav>
    </div>
    <div class="container-fluid h-100">
        <div class="row flex-grow my-auto h-100 align-items-center">
            <div class="col-md-4 col-lg-4 mx-auto">
                <div class="auth-form-light login-form text-left">
                    <h2 class="text-white">Quên mật khẩu</h2>
                    <div id="emailSendStatus" class="my-3 w-100 p-2 rounded text-white text-center" style="border: 1px solid #5aaf28; display: none;">
                    </div>
                    @using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnBegin = "loadSpinner",
                        OnComplete = "exitSpinner",
                        OnFailure = "sendEmailFaild",
                        OnSuccess = "sendEmailSuccess"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="text-white">Chúng tôi sẽ gửi cho bạn một Email bao gồm hướng dẫn để lấy lại mật khẩu của mình. Vui lòng nhập chính xác Email của bạn</p>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                <div class="mt-2">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary btn-rounded btn-block px-1" value="Gửi Email" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function sendEmailFaild() {
            toastr.error("Có lỗi khi gửi dữ liệu, vui lòng thử lại")
        }
        function sendEmailSuccess(data) {
            if (data.status == "success") {
                $("#emailSendStatus").html(data.message);
                $("#emailSendStatus").show();
            }
            else {
                toastr.error(data.message)
            }
        }
    </script>
}