@using PagedList
@using PagedList.Mvc
@model IPagedList<Kingflix.Domain.DomainModel.Blog>

@{
    ViewBag.Title = "Tin tức tổng hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5 bg-gradient-primary">
    <div class="container text-white text-center">
        <h3 class="font-weight-bold">Thông tin tuyển dụng Kingflix</h3>
        <h5 class="mb-1">Cơ hội việc làm cho nhiều vị trí với mức thu nhập hấp dẫn</h5>
    </div>
</section>
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-list" id="blogList">
                    @if (Model.Count != 0)
                    {
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 blog-content-list mb-3">
                                    <div class="product-item p-3">
                                    <a href="~/tuyen-dung/chi-tiet/@item.Url" class="blog-item">
                                        <div class="image-box ratio-16-9 my-auto">
                                            @if (string.IsNullOrEmpty(item.ImageId))
                                            {
                                                <img class="image image-big blog-list-image rounded" src="~/Content/img/No_Picture.jpg" />
                                            }
                                            else
                                            {
                                                <img class="image image-big blog-list-image rounded" src="~/Content/Upload/Images/@item.ImageId" />
                                            }
                                        </div>
                                        <h5 class="blog-list-title my-2">@item.Title</h5>
                                        <p class="text-dark">@item.Description</p>
                                        <p class="blog-time-created text-dark">@item.DateCreated.ToString("dd/MM/yyyy")</p>
                                        <p class="btn btn-sm btn-outline-primary">Ứng tuyển</p>
                                    </a>
                                </div>
                                </div>
                            }
                        </div>
                        <div class="clearfix">
                            <div class="float-right">
                                @Html.PagedListPager(Model, indexPage => Url.Action("Index", "Blog", new { page = indexPage }))
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="my-3 text-center">Chuyên mục "@ViewBag.CategoryName" chưa có tin tuyển dụng nào</p>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" id="Category">
                            <ul class="mt-2">
                               @Html.Action("GetBlogCategory")
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>